-var jsLibPath = "/javascripts/lib/"
script(src=jsLibPath + 'jquery-1.10.2.min.js')
script(src=jsLibPath + 'bootstrap.min.js')
script(src=jsLibPath + "jasny-bootstrap.min.js")
script(src=jsLibPath + 'jquery-ui-1.10.4.min.js')
// API account nompweb@google.com
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDFcthZi-bpah22cukdXby2x8x_-G1WaT4&sensor=false&language=en')
script(src='/javascripts/locationPlugin.js')
script(src='/javascripts/datePlugin.js')
script(src='/javascripts/lib/holder.js')
script(src='/javascripts/plugins.js')
script(src='/javascripts/mapPlugin.js')

script.
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25468002-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

block foot