nav.navbar.navbar-default.navbar-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') NOMP WEB
    .collapse.navbar-collapse
      ul(class=active).nav.navbar-nav
        li
          a(href="/", title="Home") Home
        li
          a(href="/need", title="Need") Need
        li
          a(href="/offer", title="Offer") Offer
      form(action='/search', method='get', role='form')
        input(type='hidden', name='_csrf', value="#{csrf_token}")
        .navbar-form.navbar-left(role='search')
          .form-group
            input(type='text', class='form-control', name='keywords', placeholder='search')
          button.btn.btn-default(type='submit') Search
      ul.nav.navbar-nav.navbar-right
        - if (req.isAuthenticated())
          li.dropdown 
            a.dropdown-toggle(href="#", data-toggle="dropdown", title="Actions")= req.user.username
              strong.caret
            ul.dropdown-menu
              li
                a(href="/user/"+req.user._id, title="My account") My account
              li
                a(href="/user/" + req.user._id + "/ticket", title="My tickets") My tickets
              li
                // same as above
                a(href="#", title="My favorites") My favorites
              li.divider
              li
                a(href="/logout", title="Logout") Logout
        - else
          li
            a(href="/login") Login