/*
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/
/*    404, 500 center   */
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
}

/*  Custom styles in nav tabs bar  */

button.link-btn {
  padding: 0;
  margin-left: 8px;
}

a.no-underline {
  text-decoration: none;
}

button.link-btn a.no-underline {
  display: inline-block;
  padding: 6px 12px;
}

/*******************************************/

/*    Custom styles in ticket form    */

button.delete-btn {
	margin-left: 8px;
}

/******************************************/

/*    Custom styles in ticket list    */

a.list-ticket-title {
  font-size: 1.4em;
}

img.list-ticket-photo {
  width: 200px;
  height: 150px;
}

td.list-ticket-description {
  width: 335px;
}

/***************************************/