@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('./lib/fonts/glyphicons-halflings-regular.eot');
  src: url('./lib/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('./lib/fonts/glyphicons-halflings-regular.woff') format('woff'), url('./lib/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('./lib/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
/*
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/
/*    404, 500 center   */
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
}

/*  Custom styles in nav tabs bar  */

button.link-btn {
  padding: 0;
  margin-left: 8px;
}

a.no-underline {
  text-decoration: none;
  color: #2a6496;
}

button.link-btn a.no-underline {
  display: inline-block;
  padding: 6px 12px;
}

/*******************************************/

/*    Custom styles in ticket form    */

button.delete-btn {
	margin-left: 8px;
}

form fieldset.ticket-info {
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

form fieldset.ticket-info legend {
  border-bottom: 0;
  width: auto;
  min-width: 0;
  margin-left: 8px;
}

label sup.required-field {
  color: #FF0000;
}

form textarea#description {
  height: 183px;
}

p#confidential-message {
  color: #FF0000;
  font-style: italic;
}

/******************************************/

/*    Custom styles in ticket list    */

a.list-ticket-title {
  font-size: 1.4em;
}

img.list-ticket-photo {
  width: 200px;
  height: 150px;
}

p.list-ticket-description {
  text-align: justify;
}

.overview-list img.list-ticket-photo {
  display: none;
}

/***************************************/

/*    Custom styles in ticket show    */
.ui-autocomplete {
    background-color: white;
    width: 300px;
    border: 1px solid #cfcfcf;
    list-style-type: none;
    padding-left: 0px;
}

.table.borderless td {
  border: 0;
}

p#ticket-description {
  height: 120px;
  overflow-y: scroll;
}

#carousel-ticket-photos {
  padding: 0;
  height: 120px;
}

#carousel-ticket-photos .carousel-inner .item img {
  width: 100%;
  height: 120px;
}

ul#matching_results_list {
  overflow-y: scroll;
}

/***************************************/

/*    Custom styles in map section    */

#map-wrapper {
  height: 550px;
}

#map-canvas {
  height: 100%;
}

/***************************************/