extends ../../layout

block content
  // nav tabs
  .row(style="margin-bottom: 15px;")
    ul.nav.nav-pills
      li(class=req.route.path === '/'  ? 'active' : '')
        a(href="/") Overview
      li(class=ticket_type === 'need' ? 'active' : '')
        a(href="/need") Needs
      li(class=ticket_type === 'offer' ? 'active' : '')
        a(href="/offer") Offers
      li(class=req.route.path === '/maps' ? 'active' : '')
        a(href="/maps") Maps
          sup
            em
              small(style="color: red;") alpha
      - if (req.route.path === '/search')
        li.active
          a(href="#") Search
      li.pull-right
        button.btn.btn-default.link-btn(type="button")
          a.no-underline(href="/need/new")
            span.glyphicon.glyphicon-plus
            | Create Need
      li.pull-right
        button.btn.btn-default.link-btn(type="button")
          a.no-underline(href="/offer/new")
            span.glyphicon.glyphicon-plus
            | Create Offer
  
  block subContent