extends ./_layout

block subContent

  .row
    - if (!ticket_type)
      .col-md-6.overview-list(style="padding-left: 0;")
        .panel.panel-default(id=req.route.path === '/search' ? 'searchNeedList' : 'needList')
          .panel-heading
            block needListHeading
          table.table.table-condensed
            tbody
              block overviewNeedList
      .col-md-6.overview-list(style="padding-right: 0;")
        .panel.panel-default(id=req.route.path === '/search' ? 'searchOfferList' : 'offerList')
          .panel-heading
            block offerListHeading
          table.table.table-condensed
            tbody
              block overviewOfferList
    - else
      .row
        // filters block
        .col-md-2
          p Classification:
          block filters
            ul#classificationFilter
        // ticket list block
        .col-md-10(style="border-left: 1px solid #ddd;")
          .panel.panel-default(id=ticket_type + 'List')
            table.table.table-condensed
              thead
                block listHeader
              tbody
            .panel-footer
              ul.pager(style='margin: 0;')
                li.previous
                  a#page-previous(href='javascript:void(0)') &larr; Previous
                li.next
                  a#page-next(href='javascript:void(0)') Next &rarr;