extends ../layout

block main
  .col-md-8.col-md-offset-2.col-sm-6.col-sm-offset-3
    .panel.panel-primary

      .panel-heading
        strong= title

      .panel-body

        block content

        p= error
        .login
          block auth