extends ../layout

block main

block content
  .row
    - if (typeof(req.session.returnTo) !== 'undefined' && req.session.returnTo.length)
      .col-md-4#referenceAuth
        form(action=req.session.returnTo, method='post')
          input(type='hidden', name='_csrf', value='#{csrf_token}')
          input#reference(type='text', placeholder='Reference', name='reference')
          button#btnLogin(type='submit') Edit
    .col-md-5#userAuth
      .login
        block auth