extends auth

block auth
  - if (!message)
    form(action='/account/forgetpassword', method="post" role="form")
      input(type='hidden', name='_csrf', value='#{csrf_token}')
      .form-group
        label(for="email") Email
        input#email.form-control(type='text', name='email', placeholder='Please enter your email address')
      button#btnNewUser.btn.btn-primary(type='submit') Send Email
  - else
    p= message