extends auth

block auth
  form(action="/user/session", method="post")
    input(type='hidden', name='_csrf', value='#{csrf_token}')
    p= message
    input#email(type='email', placeholder='Email', name='email')
    input#password(type='password', placeholder='Password', name='password')
    button#btnLogin(type='submit') Log in
    | &nbsp; or &nbsp;
    a.show-signup(href="/signup") Sign up