extends auth

block auth
  - if (!message)
    form(action='/account/resetpassword', method="post" role="form")
      input(type='hidden', name='_csrf', value='#{csrf_token}')
      - if (user)
        input(type='hidden', name='user', value=user)
      .form-group
        label(for="new_password") New Password
        input#password.form-control(type='password', placeholder='New Password', name='new_password')
      .form-group
        label(for="confirm_password") Confirm Password
        input#password.form-control(type='password', placeholder='Confirm your Password', name='confirm_password')
      button#btnNewUser.btn.btn-primary(type='submit') Reset Password
  - else
    p= message