extends auth

block auth
  form(action="/user", method="post")
    input(type='hidden', name='_csrf', value='#{csrf_token}')
    input#name(type='text', name='name', placeholder='Full name', value=user.name)
    input#email(type='text', name='email', placeholder='Email', value=user.email)
    input#username(type='text', name='username', placeholder='Username', value=user.username)
    input#password(type='password', name='password', placeholder='Password')
    button#btnNewUser(type='submit') Sign up
    | &nbsp; or &nbsp;
    a.show-login(href="/login") Log in

